/* Fonts */
@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('fonts/Roboto-Medium.ttf');
  }
  @font-face {
    font-family: 'Muli', sans-serif;
    src: url('fonts/Muli/Muli-Bold.ttf');
  }
  @font-face{
    font-family: 'Poppins', sans-serif;
    src: url('fonts/Poppins/Poppins-Regular.ttf');
  }
  
  /* <!-- Navbar --> */
  .kontainer{
    font-family: 'Muli',sans-serif;
  }
  .tombolAtas{
      transition: 0.3s;
  }
  .putihatas{
    background-color: #fff;
  }
  .tombolAtas:hover{
      text-align: center;
      border-radius: 20px;
      border-bottom: #F47522 3px ridge;
      color: blue !important;
      -webkit-box-shadow: inset 0px -5px 19px 0px rgba(244,117,34,0.39); 
      box-shadow: inset 0px -5px 19px 0px rgba(244,117,34,0.39);
      height: 38px;
      font-weight: bold;
  }
  .kontak {
      border-radius: 20px;
      border: 1px solid #F47522;
      color: #F47522 !important;
      text-align: center;
      font-size: 15px;
      width: 130px;
      height: 38px;
      cursor: pointer;
      margin: 5px;
    }
    
    .kontak span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .kontak:hover{
      background-color: #F47522;
      color: #fff !important;
    }
    .kontak span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0s;
    }
    
    .kontak:hover span {
      padding-right: 25px;
    }
    .kontak:hover span:after {
      opacity: 1;
      right: 0;
    }
    .dummyhead{
      height: 93.03px;
      color:#F47522;
      border: #F47522;
    }
  
    /* <!-- Navbar End --> */
  
/* judul */
.areajudul{
  height: 176px;
  text-align: center;
  padding: 60px 100px;
}
.judul{
    font-size: 45px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: #19345E;
}
.judul:after, .judul:before{
    content: '\2014';
    color: #F47522;
}
/* judul END */

/* Gambar */
.gambar{
  width: 100%;
}
/* Gambar End */

/* Isi */
.isi{
  padding: 0px 160px;
  margin-top: 30px;
  color: #19345E;
}
.subjudul{
  font-size: 50px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}
.subsubjudul{
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 51px;
  font-size: 20px;
}
.paragraf{
  text-align: justify;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.bubble{
  width: 70px;
  padding: 5px;
  background-color: #fff;
  border: #F47522 dashed 2px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 7px;
}
.bubble:hover{
  border: #F47522 solid 2px;
  box-shadow: inset 0px 0px 10px 0px rgba(58, 37, 23, 0.5);
}
/* Isi End */

  /* Media min 992px */
  @media screen and (min-width: 992px) {
      .tombolAtas{
          margin-right: 25px;
      }
      .kontak{
          margin:0px;
      }
    }
    
    /* Media min 992px--END */
    /* Media max 992px */
    @media screen and (max-width: 992px) {
      .tombolAtas{
        text-align: center;
      }
      .kontak{
        margin:auto
      }
      .isi{
        padding: 0px;
      }
      
  /* Media max 992px--END */