












































































































































































































































































@import url("https://use.typekit.net/vrh5eng.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@700&display=swap');

#ourteam {
    margin-bottom: 100px;
}

.ornamenbatik {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    z-index: -2000;
}

.headliner {
    width: 550px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title {
    font-family: 'muli', sans-serif;
    color: #19345E;
}

.title h1, p {
    font-family: 'muli';
    font-weight: 700;
    font-style: normal;
}

.line {
    background-color: #F47522;
    width: 35px;
    height: 2px;
    margin: 0 30px;
}

.images {
    z-index: 100;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.image-box img {
    width: 225px;
    height: 265px;
}

.image-box h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F47522;
    margin-top: 50px;
    padding: 0;
}

.image-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #19345E;
    margin: 0;
    padding: 0;
}

.frame {
    position: relative;
    width: 225px;
    height: 265px;
    border: 10px solid #F47522;
}

.uno {
    margin-top: -265px;
    top: 23px ;
    left: -24px;
}

.dos {
    margin-top: -265px;
    top: 23px ;
    left: -24px;
}

.tres {
    margin-top: -265px;
    top: 23px ;
    left: -24px;
}

.blackened {
    border: 10px solid #19345E;
}

.gap {
    margin-top: 100px;
}

.middle {
    box-shadow: 0 10px 10px #19345E8E;
}

.link {
    width: 80%;
    display: flex;
    margin: auto;
    text-align: right;
    justify-content: flex-end;
    margin-top: 40px;
}

.checknow {
    font-family: 'muli';
    color: #19345E;
    text-decoration: none;
    font-weight: 700;
}

a{
    text-decoration: none;
}

a:hover {
    color: #F47522;
}

.def {
    margin-bottom: 0;
}

.kartu {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    color: #19345E;
    flex-wrap: wrap;
}

.kartu-box {
    width: 285px;
    margin-bottom: 30px;
}

.kartu h2 {
    font-size: 20px;
    font-weight: 700;
}

.kartu-box img {
    width: 285px;
    height: 207px;
    margin-bottom: 30px;
}

.author {
    display: flex;
    justify-content: space-between;
    color: #707070;
    opacity: .5;
}

.author p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.readmore {
    text-align: right;
}

footer {
    width: 100%;
    height: 140px;
    background-color: #19345E;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

footer p {
    font-family: 'muli';
    font-size: 14px;
    font-weight: 400;
}

.logoalta {
    width: 110px;
}

.socmed-icon img {
    width: 21px;
}



/*RESPONSIVE*/

/*IPAD*/
@media screen and (max-width: 768px) {
    .headliner {
        width: 450px;
    }

    .images {
        flex-wrap: wrap;
    }

    .image-box {
        margin-bottom: 30px;

    }

    .gap {
        margin-top: 0px;
    }

    .uno {
        top: px ;
        left:px;
    }

    .dos {
        top: px ;
        left: px;
    }

    .tres {
        top: px ;
        left: px;
    }

    .checknow {
        right: 0px;
    }

    .kartu {
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .kartu-box {
        margin-bottom: 40px;
    }


}
/*END IPAD*/


/*PHONE L*/
@media screen and (max-width: 425px) {
    .headliner {
        width: 350px;
    }

    .line {
        margin: 0 10px;
    }

    .uno {
        top:  px ;
        left: px;
    }

    .dos {
        top:  px;
        left: px;
    }

    .tres {
        top:  px;
        left: px;
}

    .checknow {
        right: 0px;
    }

    footer {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 220px;
    }

    .footer-box {
        margin: 40px;
    }
}
/*PHONE L*/